{"list":
 [
     {"user":"foo@bar.com",
      "imap":"imap.bar.com",
      "passwd":"monkey1",
      "folder":"INBOX",
      "encrypt":1,
      "keys":"foo.keys",
      "promp":1,
      "compress":1},
     {"user":"alice@example.com",
      "imap":"imap.example.com",
      "passwd":"qwerty1",
      "encrypt":0,
      "folder":["INBOX","Sent"],
      "compress":0}
 ],
 "verbose":1
}
